* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}
.banner {
  background-image: url('../images/hair-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.nav {
  background-color: #49668c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid #948275;
  z-index: 10;
}
h1 {
  font-family: 'Miss Fajardose', cursive;
  font-size: 41px;
  letter-spacing: 3px;
  padding: 5px 0;
}
.logo a:link,
.logo a:visited {
  color: #fff;
  text-decoration: none;
}
ul {
  display: flex;
  font-family: 'Elsie Swash Caps', cursive;
  align-items: center;
  list-style: none;
}
.nav-links a:link, 
.nav-links a:visited {
  color: #c1c5e3;
  text-decoration: none;
  padding: 21.5px 10px;
}

.nav-links a:hover {
  background-color: #a83275;
  color: #fff;
}
li a {
  list-style-type: none;
  text-decoration: none;
  color: #9b9fbd;
}
.caps-links {
  text-decoration: none;
  font-family: 'Elsie Swash Caps', cursive;
}
.caps-links a:link,
.caps-links a:visited {
  padding: 21.5px 10px;
}

/*********************** about page ***********************/

.abc-one {
  display: flex;
  width:100%;
  height: 260px;
  background-color: #fff;
}
.test-one {
  width: 40%;
  height: 260px;
  background-color: #ccd5e0;
}
.test-two {
  width: 60%;
  height: 260px;
  background-color: #c6c6c6;
}
.test-three {
  width: 40%;
  height: 260px;
  background-color: #82a5d1;
}
.test-four {
  width: 60%;
  height: 260px;
  background-color: #595d61;
}

body, html {
  height: 100%;
}
.top-img {
  background-image: url(../images/splash-ruckenfigur.png);
  min-height: 100%;
}
.middle-img {
  background-image: url(../images/splash-products.png);
  min-height: 100%;
}
.top-img, .middle-img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-blurb {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: #e4e4ed;
  background-color: #a83275;
  opacity: .3;
  padding: 50px 10px;
}
.caption {
  font-family: 'Miss Fajardose', cursive;
  font-size: 52px;
  line-height: 37px;
  letter-spacing: 3px;
  text-align: center;
}
.sub-cap {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.graf {
  margin: 40px 130px;
}
#about-headline {
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 900;
  font-size: 40px;
  /*padding: 70px 0px 15px 110px;*/
  padding-bottom: 15px;
}
.about-graf {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 17px;
  /*padding: 0px 110px 40px 110px;*/
  text-align: justify;
}
.about-graf.introduction {
  color: #000;
}
.about-graf.take-quiz {
  color: #fff7d4;
}
.yt {
  display: flex;
  margin: 40px auto;
  height: 200px;
  width: 900px;
  align-items: center;
}
.slideshow {
  display: flex;
  height: 100%;
  width: 800px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.blox {
  height: 100%;
  width: 100%;
  margin: 0px 3px;
  background-color: #e4e4ed;
}
/*.about-quiz {
  display: flex;
  height: 100%;
}*/
.quiz-talk {
  height: 100%;
  width: 70%;
}
.quiz-grab {
  height: 100%;
}
.about-bhead {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
  color: #4c96c7;
  padding-bottom: 10px;
}
.quizzy-box {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  padding: 60px;
  background-color: #fcba03;
}

.about-placeholder {
  display: flex;
  margin-left: 40px;
  height: 300px;
  width: 450px;
  background-color: #c6c6c6;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #666;
  justify-content: center;
  align-items: center;
}

/*********************** products page ***********************/

.card-headers {
  background-color: #2f314f;
}
.product-types {

}
.card-row {
  display: flex;
  justify-content: space-between;
  margin: 45px 45px 22.5px 45px;
}
.last.card-row {
  margin-bottom: 45px;
}
.card {
  height: 480px;
}
.img-placeholder {
  display: flex;
  background-color: #c6c6c6;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #666;
  height: 300px;
  width: 300px;
  border: 5px solid white;
  justify-content: center;
  align-items: center;
}
.product-img {
  height: 300px;
  width: 300px;
}
figure {
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.product-img:hover {
  transform: scale(1.3);
  filter: saturate(1.5);
}
.product-info {
  background-color: #fff;
  width: 300px;
  height:155px;
  border: 5px solid white;
}
.product-name {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3em;
  color: #000;
  height: 68px;
}
.benefits {
  margin-bottom: 10px;
  height: 30px;
}
/*span {
  margin: 5px 0px;
}*/
.bubble {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  background-color: #181169;
  border-radius: 3px;
  padding: 2px 8px;
  display: inline-block;
  margin: 5px 0px 0px 0px;
}
.buttons {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #a83275;
  border-radius: 100px;
  padding: 5px 8px;
  color: #e4e4ed;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  display: block;
  text-align: center;
}
.buttons:hover {
  background-color: #9c065b;
}
footer {
  background-color: #948275;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #e6dfd8;
  padding: 30px 20px;
  text-align: center;
}

/*********************** quiz page ***********************/

.curl-quiz {
  height: 100%;
  width: 55%;
  background-color: #2f314f;
  margin: 2% auto;
}
.first-quiz-header {
  color: #8cd4ca;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}
.first-quiz-graf {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #e4e4ed;
  padding: 0px 80px 30px 80px;
  text-align: justify;
}
.quiz-start {
  background-color: #fcba03;
  font-family: 'Knewave', cursive;
  font-size: 30px;
  letter-spacing: 0.5px;
  color: #50667d;
  border: none;
  padding: 20px 75px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0px auto 60px;
  cursor: pointer;
}
.options {
  background-color: #fcba03;
  font-family: 'Knewave', cursive;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #50667d;
  border: none;
  padding: 15px 49px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px auto 30px;
  cursor: pointer;
}
button.quiz-start:hover,
button.options:hover {
  background-color: #4c96c7;
  color: #fcba03;
}
.go-back {
  background-color: #2f314f;
  border: 2px solid #c1c5e3;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  margin: 0px auto 20px;
  padding: 20px 0px;
}
.back-button {
  width: 39px;
  margin: 2px auto 50px;
  cursor: pointer;
}
.back-button span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #c1c5e3;
  transform: rotate(33deg) translate(11px);
  -webkit-transform: rotate(33deg) translate(11px);
  -moz-transform: rotate(33deg) translate(11px);
}
.back-button span.right {
  transform: rotate(-33deg) translate(11px);
  -webkit-transform: rotate(-33deg) translate(11px);
  -moz-transform: rotate(-33deg) translate(11px);
}
.go-back:hover {
  background-color: #49668c;
  cursor: pointer;
}
.quiz-headers {
  color: #8cd4ca;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  padding-top: 30px;
}
.definition {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 13px;
  font-style: italic;
  letter-spacing: 2px;
  color: #c1c5e3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.brkt {
  color: #49668c;
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
}
.quiz-grafs {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 30px;
  color: #e4e4ed;
  text-align: center;
}
.imgbox {
  height: 200px;
  width: 200px;
  background-color: #c1c5e3;
  margin: auto;
}
.porosity, .density, .protein {
  display: flex;
  justify-content: space-between;
  margin: 0% 15%;
}
.questions {
  display: none;
}

/*********************** learn more page ***********************/

.coming-soon {
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 900;
  font-size: 120px;
  text-align: center;
  padding: 275px;
}

/*********************** hamburger menu ***********************/

header .close-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 83;
  cursor: pointer;
  display: none;
}

header .close-nav span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #c1c5e3;
  transform: rotate(45deg) translate(2px);
  -webkit-transform: rotate(45deg) translate(2px);
  -moz-transform: rotate(45deg) translate(2px);
}
header .close-nav span.right {
  transform: rotate(-45deg) translate(2px);
  -webkit-transform: rotate(-45deg) translate(2px);
  -moz-transform: rotate(-45deg) translate(2px);
}

@media only screen and (max-width: 1049px) {
  .graf.about-quiz {
    display: block;
  }
  .quiz-talk {
    width: 100%;
    margin-bottom: 40px;
  }
  .quiz-grab {
    width: 100%;
  }
  .about-placeholder {
    margin-left: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
 /* h1 {
    font-size: 30px;
  }*/
  header .close-nav {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #49668c;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    z-index: 80;
  }
  ul {
    font-size: 30px;
  }
  nav ul {
    display: block;
    text-align: center;
    margin-top: 35%;
  }
  .nav-links a:link,
  .nav-links a:visited {
    padding: 1px 16px;
    line-height: 40px;
  }
  .hamburger-border {
    height: 20%;
    width: 100%;
    background-image: url('../images/hair-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #c1c5e3;
    margin: 2px 0;
  }
  footer {
    font-size: 10px;
  }
}